.container-hold-navbar {
  height: 2.5rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.container-hold-navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
}

.container-hold-navbar ul li {
  margin: 3px;
  height: 50%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  padding: 5px 5px;
  flex-wrap: wrap;
  border: none;
  outline: none;
}

.container-hold-navbar ul li:hover {
  height: 100%;
  cursor: pointer;
  background-color: rgb(245, 245, 250);
}

.link {
  text-decoration: none;
  font-size: 11px;
  font-weight: 600;
  color: rgb(5, 5, 27);
  color: #425263;
  white-space: nowrap;
  cursor: pointer;
}
.link:hover {
  color: #0052cc;
}
